
{{ if page.data.breadcrumbs }}
<nav data-comp="breadcrumbs">
<ol class="no-space">
{{ for crumb of breadcrumbs }}
{{ set thisPage = crumb.link === url}}
<li>
    {{- if !thisPage }}<a href="{{ crumb.link }}">{{ /if -}}
    {{ crumb.title || search.page("url=" + crumb.link).title }}
    {{- if !thisPage }}</a>{{ /if -}}
</li>
{{ if thisPage }}{{ set hideCurrent = true}}{{ /if }}
{{ /for }}
{{ if !hideCurrent }}<li>{{ title }}</li>{{ /if }}
</ol>
</nav>
{{ /if }}