[data-comp='breadcrumbs'] {
  /* Hover around the bottom */
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding-inline: 1rem;
  padding-block: 0.6rem 0.4rem;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
  color: var(--contrast-foreground);
  background: var(--contrast-background);

  @media only screen and (min-width: 700px) {
    /* Reset for wider screens */
    position: unset;
    background: unset;
    color: unset;
    z-index: unset;
    box-shadow: unset;
    padding-block: 0;
  }

  ol {
    --breadcrumb-gap: 0.7ch;
    padding-inline: 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    overflow-x: visible;
    > li {
      display: inline
    }
    > li + li:before {
      content: '\00BB';
      padding-inline: var(--breadcrumb-gap);
    }
  }
}
