:root{
  --site-hue: 190;
  --dark: hsl(229, 47%, 22%);
  --dark-contrast: hsl(64, 73%, 51%);
  --page-bg-colour: hsl(var(--site-hue), 10%, 80%);
  --page-bg-image: var(--bg-image);
}

body {
  background-color: var(--page-bg-colour);
  background-attachment: fixed;
  background-image: var(--page-bg-image);
}

/*
%transparent-block {
  $background: change-color($dark, $alpha: 0.7);
  color: invert($background);
  a { color: inherit; }
  background-color: $background;
}
*/