body {
  font-family: var(--main-fontstack);
  font-weight: 300;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-fontstack);
  font-weight: 800;
  font-weight: normal;
  & a {
    text-decoration: none;
  }
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.5em;
  font-style: oblique;
}

a {
  &:hover {
    color: #111111;
    background-color: yellow;
    text-decoration: underline;
  }
}

blockquote {
  border-left: solid #aaaaaa 3px;
  padding-inline-start: 1em;
  margin-inline: 0;
}
