---
layout: default
title: Giles Dring
---

<section>
  <header>
    <h1>Blog</h1>
  </header>
  <p>
    Here is my most recent blog post, or browse through the
    <a href='/blog/'>full archive</a>. My most recent posts are listed
    <span id='latestpostsposition'></span>.
  </p>

  {% for post in site.posts limit:1 %}
    {% include post_excerpt.html level=3 %}
  {% endfor %}

  <aside>
    <ul>
      {% for post in site.posts limit:3 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </aside>

</section>

<section>
  <header>
    <h1>Projects</h1>
  </header>

  <p>
    Here is a small selection of personal projects.
  </p>

  {% include project_list.html level=2 %}

</section>
