{{> 
    const uriParts = (uri || page.data.embed.spotify).split(":");
    const src = `https://open.spotify.com/embed/${ uriParts[1] }/${ uriParts[2] }`;
}}

<iframe
  class="spotify{{ if compact }} compact{{ /if }}"
  src="{{ src }}"
  frameborder="0"
  allowtransparency="true"
  allow="encrypted-media">
</iframe>