<nav class="pagination">
<a href="{{ pagination.previous }}" {{ if !pagination.previous }} disabled{{ /if }}>Previous</a>
<span class="page_number">Page {{ pagination.page }} of {{ pagination.totalPages }}</span>
<a href="{{ pagination.next }}" {{ if !pagination.next }} disabled{{ /if }}>Next</a>
</nav>