{% set level = include.level or 2 %}
{% for project in search.pages('project') | data -%}
<article class='project'>
  <header><h{{ level }}>{{ project.title }}</h{{ level }}></header>
  {{ project.description }}
  <footer><a href="{{ project.url }}">See more &xrarr;</a></footer>
</article>
{%- endfor -%}
