$grid-size: 10rem;

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    > * {
        background-size: cover;
        background-position: center;
        margin-right: 1em;
        margin-bottom: 1em;
        padding: 0;
        > a {
            margin: 1em;
            width: $grid-size;
            height: $grid-size;
            display: block;
            color: white;
            font-weight: normal;
            &:hover {
                text-decoration: underline;
            }
            > * {
                margin: 0;
                color: white;
                background-color: hsla(0, 0, 0, 0.5);
            }
        }
    }
}

.grid {
    .solid-block {
        @extend %transparent-block;
    }
}