%centred {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

body {
    > * {
        @extend %centred;
    }

    > header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 a {
            display: flex;
            padding: 0;
            line-height: initial;
            align-items: center;
        }
        svg {
            height: 3em;
        }
        div {
            word-wrap: break-word;
            max-width: 5rem;
        }
    }
    @include small-screen() {
        padding-bottom: 4em;
    }
}

p, h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em;
    padding-bottom: 0.5em;   
}
