$site-hue: 190;

$dark: hsl(229, 47%, 22%);
$dark-contrast: invert($dark);

$page-bg-colour: hsl($site-hue, 10%, 80%);

$page-bg-image:
  url($bg-image)
  ;

body {
  background-color: $page-bg-colour;
  background-image: $page-bg-image;
}