img.unscaled {
  width: auto;
}

body {
  margin: 0;
}

body > nav {
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  padding-left: 12.5%;
  font-style: italic;
  & > * {
    position: relative;
  }
  ul {
    padding-left: 0;
    li {
      display: inline;
    }
  }
}

// * {
//   text-shadow: none !important;
// }
