
img.unscaled {
  width: auto;
}

.sidebar {
  p {
    font-size: 1.1rem;
    padding: 0;
    margin-bottom: 0;
  }
  @include respond-to(screen) {
    position: absolute;
    margin-left: 60%;
    margin-top: 1.4rem;
    & > * {
      margin-top: 0;
      position: relative;
      width: 100%;
    }
  }
}
