@mixin gutterize {
  margin-left: 1rem;
  position: absolute;
  left: $content-width;
  width: $gutter-width;
  @content;
}

main {
  margin-top: 2rem;
  padding: 1rem;
  @include respond-to('screen') {
    section, article {
      position: relative;
      width: $content-width;

      aside {
        @include gutterize {
          top: 2.25rem;
        }
      }
    }
  }
}

.centred {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.embedded-content {
  border: none;
}

.spotify {
  background-color: transparent;
  height: 380px;
}

.half-width {
  width: 100%;
  max-width: $content-width / 2;
}


.sixteen-by-nine {
  width: $content-width;
  height: $content-width * 9 / 16;
}
