@mixin gutterize {
  padding-left: 1rem;
  position: absolute;
  left: $content-width - $gutter-width;
  width: $gutter-width;
  @content;
}

@mixin centred {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centred {
  @include centred;
}

%padded {
  margin-left: $min-padding;
  margin-right: $min-padding;
  @include respond-to('screen') {
    margin-left: 0;
    margin-right: 0;
  }
}

.full-width {
  width: 100%;
  max-width: $content-width;
  @include respond-to('screen') {
    @include centred;
  }
  > section, > article {
    @extend %padded;
  }
}

.half-width {
  width: 100%;
  max-width: $content-width / 2;
}

.guttered {
  @extend .full-width;

  // margin: 1rem;
  @include respond-to('screen') {
    %with-gutter {
      position: relative;
      width: $content-width - $gutter-width;
    }

    > section {
      @extend %with-gutter;
      aside {
        @include gutterize {
          top: $h1-size * $base-line-height;
        }
      }
    }
    article {
      @extend %with-gutter;
      aside {
        @include gutterize {
          top: $h2-size * $base-line-height;
        }
      }
    }
  }
}

main {
  @extend .guttered;
  margin-top: $profile-image-size + 30px;
  margin-bottom: 100px;
}

.embedded-content {
  border: none;
}

.sixteen-by-nine {
  width: 100%;
  max-width: ($content-width - $gutter-width);
  height: ($content-width - $gutter-width) * 9 / 16;
}

.spotify {
  background-color: transparent;
  height: 480px;
}

.soundcloud {
  height: 400px;
}

.license {
  padding: 0.5rem;
  display: flex;
  img {
    min-width: 88px;
  }
  li {
    display: block;
    padding-right: 0.5rem;
  }
  li:last-child {
    padding-right: 0;
  }
}

body > footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  div{
    @extend .full-width;
    .social-links {
      display: inline;
      i { font-size: 1.5rem; }
      li { display: inline; }
    }
  }
}

blockquote {
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-left: 2px solid $grey-color;
}

%list_indent {
  list-style-position: outside;
  padding-left: 2rem;
}

ul {
  @extend %list_indent;
  list-style-type: disc;
}

ol {
  @extend %list_indent;
}
