@mixin gutterize {
  padding-left: 1rem;
  position: absolute;
  left: $content-width - $gutter-width;
  width: $gutter-width;
  @content;
}

.centred {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%;
  max-width: $content-width;
}

.half-width {
  width: 100%;
  max-width: $content-width / 2;
}

main {
  @extend .centred, .full-width;
  margin-top: 2rem;
  // margin: 1rem;
  @include respond-to('screen') {
    section, article {
      position: relative;
      width: $content-width - $gutter-width;

      aside {
        @include gutterize {
          top: 2.25rem;
        }
      }
    }
  }
}

.embedded-content {
  border: none;
}

.sixteen-by-nine {
  width: $content-width;
  height: $content-width * 9 / 16;
}

.spotify {
  background-color: transparent;
  height: 380px;
}

.soundcloud {
  height: 400px;
}

.license {
  padding: 0.5rem;
  display: flex;
  img {
    min-width: 88px;
  }
  li {
    display: block;
    padding-right: 0.5rem;
  }
  li:last-child {
    padding-right: 0;
  }
}
