#latestposts {
  ul {
    @include respond-to(screen) {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    li {
      @include respond-to(screen) {
        display: inline;
        &::after {
          content: " ~"
        }
        &:last-of-type::after {
          content: ''
        }
      }
    }
  }
}

#latestpostsposition::after {
  content: 'below';
  @include respond-to(screen) {
    content: 'to the right';
  }
}
