html {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}
h1 {
  font-size: $h1-size;
  font-weight: $strong-font-weight;
}

h2 {
  font-size: $h2-size;
  font-weight: $strong-font-weight;
}

aside, footer {
  font-size: $small-font-size;
}

.license {
  font-size: $small-font-size;
  line-height: 1;
}
