html {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}
h1 {
  font-size: 1.5rem;
  font-weight: $strong-font-weight;
}

h2 {
  font-size: 1.2rem;
  font-weight: $strong-font-weight;
}
