---
layout: layouts/base.vto
---
{{ comp layout.CrossPage }}
  {{ comp.Header({ page })  }}
  {{ comp.Nav({ url }) }}
{{ /comp }}
{{ comp.Breadcrumbs( { ...page.data } ) }}
<main role="main" class="layered">
  {{ content  }}
</main>
{{ comp.Footer({ page }) }}
