---
layout: layouts/page.vto
title:  Writing
---

{{ comp.pagination.Navigator({ pagination }) }}
<hr>

{{ for post of results }}
  {{ comp.post.ListItem({ post: post }) }}
  <hr>
{{ /for }}

{{ comp.pagination.Navigator({ pagination }) }}
