---
title: Slaughterhouse Five
tags: []
---
http://www.lettersofnote.com/2009/11/slaughterhouse-five.html
<p>
  Wonderfully witty letter about an absolutely horrific subject. God
  (or alternative) bless Kurt.
</p>
