[data-comp="Header"] {
  font-size: 2rem;

  > a {
    display: flex;
    padding: 0;
    line-height: initial;
    align-items: center;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    fill: rgb(61, 78, 61);
    height: 3rem;
  }

  * {
    margin: 0;
    padding: 0;
  }

  div {
    word-wrap: break-word;
    padding-inline: 0.2em;
  }
}
