<article class='project' data-comp='Excerpt'>
  <header><h{{ level || 2 }}>{{ title }}</h{{ level || 2 }}></header>
  {{ description |> md }}
  <footer><a href="{{ url }}">See more &xrarr;</a></footer>
  <hr>
</article>
