:root {
    --grid-size: 13rem;
}
.grid {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0;
    > * {
        padding: 0.5em;
        aspect-ratio: 1/1;
        flex-basis: var(--grid-size);
    }
    a {
        > *:first-child {
            margin-block-start: 0;
        }
        > *:last-child {
            margin-block-end: 0;
        }
    }
    li {
        list-style: none;
    }
    .solid-block {
        color: white;
        background-color: hsl(229, 47%, 22%, 50%);
        backdrop-filter: blur(2px);
        a {
            color: currentColor;
        }
    }
}