.tag-cloud {
  overflow-x: scroll;
  display: flex;
  font-size: 0.8em;
  > li {
    color: $dark-contrast;
    a {
      color: inherit;
    }
    background: $dark;
    padding: 0.5em 1em;
    border-radius: 1em;
    margin-right: 0.5em;
  }
}