$site-hue: 190;

$dark: hsl(229, 47%, 22%);
$dark-contrast: invert($dark);

$page-bg-colour: hsl($site-hue, 10%, 80%);

$page-bg-image:
  url($bg-image)
  ;

body {
  background-color: $page-bg-colour;
  background-image: $page-bg-image;
}

%transparent-block {
  $background: change-color($dark, $alpha: 0.7);
  color: invert($background);
  a { color: inherit; }
  background-color: $background;
}