@import 'css/reset.css';
@import 'css/colours.css';
@import 'css/layout.css';
@import 'css/typography.css';

@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/github-dark-dimmed.min.css";

:root {
  --site-logo: url('/assets/images/sad-viking.svg');
  --site-hue: 65;

  --foreground-colour: hsl(var(--site-hue), 20%, 10%);
  --background-colour: hsl(var(--site-hue), 20%, 70%);
  --background-image: url('/assets/images/arches-trans.png');
  --background-blend: normal;

  --outline-colour: hsl(var(--site-hue), 80%, 5%);
  --outline-colour-transparent: hsl(var(--site-hue), 80%, 5%, 10%);

  --layer-colour: hsla(var(--site-hue), 10%, 20%, 25%);

  --contrast-background: hsl(var(--site-hue), 15%, 20%);
  --contrast-foreground: hsl(var(--site-hue), 60%, 80%);

  --main-fontstack: 'Montagu Slab Variable', serif;
  --heading-fontstack: 'Stack Sans Headline Variable', sans-serif;
 
  @media (prefers-color-scheme: dark) {
    & {
      --foreground-colour: hsl(var(--site-hue), 10%, 70%);
      --background-colour: hsl(var(--site-hue), 10%, 10%);
      --layer-colour: hsla(var(--site-hue), 10%, 25%, 25%);
      --background-blend: color-burn;

      --contrast-foreground: hsl(var(--site-hue), 60%, 10%);
      --contrast-background: hsl(var(--site-hue), 15%, 75%);
    }
  }
}