---
title: Orinoco Flow is really a power pop tune
tags:
  - cheeky
  - enya
  - power-pop
  - punk-pop
---
Turns out that Orinoco Flow is a Power Pop song in new age clothing...

<div>{{ comp.embed.Soundcloud({ track: '39402626' }) }}</div>
