---
layout: post
title: Finally finished my Mercury Prize reviews
categories: []
tags: []
status: publish
type: post
published: true
meta: {}
---
<p>
  I decided to bite the bullet and include 7 reviews in one posting.
  Feels good to get it off the to do pile, and at least I’m keeping up with
  one of my resolutions!
</p>
