---
layout: post
title: Resolutions 2009
categories: []
tags:
- focus
- resolution
status: publish
type: post
published: true
meta: {}
---
<p>I’ve decided on a few (hopefully) achievable new year’s resolutions this year. In an attempt to keep me honest, I’m sticking them on the intertubes and will report back.</p>

<ol>
<li>
<b>Turn off twitter</b><br>Phenomenon of 2009, twitter sails rather close at times to being a huge obsessive time suck. As a result, I’ve decided that my <a title="gilesdring twitter account" href="http://twitter.com/gilesdring" target="_blank">twitter</a> account will be much quieter this year and I will not check it so addictively. I’ve already removed it from my iPhone. I’m still listening to direct messages, so not cutting myself off from all contact, and I’m still going to be (t)wittering about music on my <a title="scrambledmusic twitter account" href="http://twitter.com/scrambledmusic" target="_blank">other twitter account</a>. More of that below.</li>
<li>
<b>Refuse booze</b><br>Not all the time, you understand. Nothing that drastic. I find it rather too easy to refill my glass. Having tried (and failed) in the past to stick to a resolution to drink less, I’m making this a more active one. I will, on occasion, say ‘no thanks’ when asked if I want a top-up.</li>
<li>
<b>Carry on blogging</b><br>I decided last year to start blogging about something as a way of prodding my creativity. The result was <a title="scrambled music blog" href="http://scrambledmusic.com" target="_blank">Scrambled Music</a>. I’m not expecting to be troubling the NME anytime soon: it’s mainly for my enjoyment and to keep me ears open for new musical experiences.</li>
<li>
<b>Get my bike out</b><br>I’ve just moved to a wonderfully hilly area which is also well provided with canal footpaths. This should give me a huge range of options for getting a degree of fitness back. All it needs is for me to get my bike out of the cellar…</li>
<li>
<b>Learn something</b><br>I’ve been toying with the idea of taking a second degree. Not wanting to stray too far from my comfort zone but also keen to push the boundaries a bit, I’ve opted for a <a title="computing with psychological studies" href="http://www3.open.ac.uk/study/undergraduate/qualification/b49.htm" target="_blank">BSc in Computing with Psychological Studies</a> at the Open University. I may come to regret this, but then again, it may open up whole areas of interest.</li>
<li>
<b>Create music</b><br>Kind of an adjunct to the scrambled music blog, I’m keen to use the array of studio kit I’ve amassed over the years to actually do something musical. Watch my <a title="scrambled music sound cloud account" href="http://soundcloud.com/scrambledmusic" target="_blank">soundcloud account</a>.</li>
</ol>

<p>That’s more than enough to be going on with. I’ll probably backslide by the end of January! If so, I promise to let you know…</p>
