---
title: 'ATP Nightmare Before Christmas: Les Savy Fav/Battles/Caribou'
tags:
  - all-tomorrows-parties
  - marniestern
  - nbf
---
<p>Bodes well - Marnie Stern (2nd band on) tearing the roof off…</p>
