---
title: “MITT ROMNEY” — A BLR Soundbite
tags:
  - stuff the ice chest
  - bad lipreading
---
<p>I’m a gremlin, I’m leaving the party, and I want everyone to stuff the ice chest (via&nbsp;<a href="http://badlipreading.tumblr.com/post/11466321440">badlipreading</a>)</p>

   <iframe width="640" height="360" src="http://www.youtube.com/embed/e9L9A1IMTQo?feature=oembed&amp;wmode=opaque&amp;enablejsapi=1" frameborder="0" allowfullscreen=""></iframe>
