---
layout: post
title: Somebody just won animated GIFs
categories: []
tags: []
status: publish
type: post
published: true
meta: {}
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body><img src="/squarespace_images/static_513e5c8ee4b07e27db869751_1363041434209__img.gif_" alt=""></body></html>
