---
layout: post
title: Excellent use of Sheffield University computing facilities
categories: []
tags: []
status: publish
type: post
published: true
meta: {}
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body><img src="/squarespace_images/static_513e5c8de4b07e27db869746_1363041433666__img.jpg_" alt=""></body></html>
