---
title: Bob Mould - The Descent
tags: []
---
<p>Good lord, that man can make a noise (via&nbsp;<a href="http://www.kungfugrippe.com/post/31816254058/god-i-hope-its-not-too-late">merlin</a>)</p>

   <iframe width="640" height="360" src="http://www.youtube.com/embed/MjUSG35ccAs?feature=oembed&amp;wmode=opaque&amp;enablejsapi=1" frameborder="0" allowfullscreen=""></iframe>
