{{ for item of playlist }}
  <audio controls="controls" title="{{ item.title }}" >
    {{ for file of item.files }}
      <source src="{{ file.src }}" type="{{ file.format }}">
    {{ /for }}
  Your browser does not support the audio element.
  </audio>
{{ /for }}
