---
layout: layouts/page.njk
title:  Blog
---

{% include "partial/pagination.njk" %}

{% for post in results %}
  {% include "post_excerpt.njk" %}
{% endfor %}

{% include "partial/pagination.njk" %}