---
url: /projects/
layout: layouts/page.vto
title: Projects
categories: []
tags:
  - catalogue
status: publish
type: page
published: true
meta: {}
nav:
  order: 5
---

<p>
  Here is a small selection of personal projects.
</p>

{{ for project of search.pages('project !catalogue') -}}
{{ comp.Excerpt({ ...project }) }}
{{- endfor -}}

